*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
}
#main{
    height: 100vh;
    width: 100vw;
  background-image: url(bgi.jpeg); 
      
}
 .bdf{
    height: 100vh;
    width: 100vw;
    background-color: rgba(236, 236, 225, 0.819);
    backdrop-filter: blur(10px) ;

}
.navic{
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
    width: 100vw;
    height: 8vh;
    display: flex;
   
    padding-left: 20px;
}
.logo{
    padding-top: 10px;
    height: 8vh;
    width: 90%;
} 
.sh{
   
    height:8vh;
    width: 10%;
    padding-top: 10px;
    padding-left: 50px;
   
}
.ri-shopping-cart-2-fill:hover{
    font-size: 42px ;
    color: rgb(241, 33, 33);
    transition: 0.2s ease-in-out;
}

.sh>i{
    font-size: 40px;

}
#pg1{
    display: flex;
   
    height: 80vh;
    width: 90vw;
}
.cnt{
    line-height: 80px;
    padding-top: 20vh;
    padding-left: 5vw;
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    height: 80vh;
    font-weight: 100;
    width: 40%;
    
    justify-content: center;
}
.cnt>button{
    height: 8vh;
    width: 15vw;
    -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 15px 15px 0 15px    ;
  -webkit-box-shadow: 0px 1px 3px #080608;
  -moz-box-shadow: 0px 1px 3px #080608;
  box-shadow: 0px 1px 3px #080608;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.rmi{
    height: 80vh;
    width: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
   transition: 0.6s ease-in-out;
   /* background-image: url(rm.png); */
}
.remi1{
    height: 80vh;
    width: 50vw;
    position: absolute;
    visibility:visible;
    /* transform: visibility 0.8s ease-in-out; */
    /* transform: width 0.8s ease-in-out; */
   
    
}
.remi1 img{
    height: 80vh;
    width: 60vw;
}
.remi2{
    height: 0vh;
    width: 0%;
    position: absolute;
    bottom: 1vh;
    left: 80vh;
    visibility: hidden;
    transition: height 0.8s, width 0.8s ease-in-out;
}
.remi2 img{
    height: 100vh;
    width: 100%;
}

/* .rmi>img{
   
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 0.2s ease-in-out;
} */
.rmi:hover .remi2{
visibility:visible;
height: 100vh;
width: 50%;
}
.rmi:hover .remi1{
    height: 0vh;
    width: 0%;
    visibility: hidden;
}

#food{
    height: 9vh;
    width: 90%;

    display: flex;
    justify-content: space-between;
    
}
.food{
    
    height: 9vh;
    width: 5vw;
    background-color: rgba(174, 174, 169, 0.234);
    border-radius: 20px;
    padding-left: 0.8vw;
    padding-top: 0.9vh;
    transition: height 0.8s  , width 0.8s , font-size 0.8s ease-in-out;
    
}
.food>span{
    height: 100%;
    width: 100%;
    font-size:7vh ;
}
.food:hover{
    height: 10.5vh;
    width: 5.5vw;

   
}
.food:hover>span{
    
    font-size: 8vh;
     
}
#bc:hover{

    color: rgb(152, 140, 64);
}
#cc:hover{

    color: rgb(225, 93, 198);
}
#sc:hover{

    color: rgb(216, 160, 81);
}
#nc:hover{

    color: rgb(52, 134, 26);
}

::selection{
    color: #f042b6;
}
#main2{
    height: 100vh;
    width: 100vw;
  background-image: url(bgi.jpeg); 
}
#blur{
    height: 100vh;
    width: 100vw;
    background-color: rgba(236, 236, 225, 0.819);
    backdrop-filter: blur(10px) ;
}
#mom{
    height: 50vh;
    width: 98.4vw;
    display: flex;
    justify-content: space-around;
}
.bro{
    height: 50vh;
    width: 90vh;  
}
#blur_div1{
    display: flex;
    gap: 1vh;
}
#f{
    height: 35vh;
    width: 35vh;
    background-color: rgba(174, 174, 169, 0.234);
    border-radius: 30px;
    transition:box-shadow ease-in-out;
}
#f1{
    height: 35vh;
    width: 35vh;
    background-color: rgba(174, 174, 169, 0.234);
    border-radius: 30px;
    transition:box-shadow ease-in-out; 
}
.kc{
    margin-left: 7vh;
    margin-top: 7vh;
}
#f:hover{
    box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#f1:hover{
    box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#pic1{
    height: 25vh;
    width: 25vh;
    position: absolute;
     top: -0.1vh; 
    right: 79vw;
   
}
#pic1 img{
    height: 25vh;
    width: 25vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 30vh;
}
#cl{
    display: flex;
    height: 12vh;
    width: 35vh;
    margin-top: 20vh;
}
#cr{
    height:10vh;
    width: 22vh;
    margin-left: 1vh;
    font-weight:600;
}
#Crab{
    margin-left: 8vh;
}
#spg{
    font-size: 1.5vh;
    margin-left: 8vh;
    margin-top: 1vh;
}
#twofour{
    font-size: 2vh;
    position: absolute;
    top: 33vh;
    left: 16vh;
}
#love{
    height: 6vh;
    width: 7vh;
    background-color: rgba(174, 174, 169, 0.337);
    margin-left: 2vh;
    border-radius: 50px;
    padding-top: 1vh;
    padding-left: 0.5vh;  
    transition: box-shadow 0.8s ease-in-out; 
}
#love i{
    margin-left: 1vh;
    font-size: 4vh;
}
#love:hover{
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; ;
}
#swg{
    font-size: 1vh;
}
#pic2{
    height: 25vh;
    width: 25vh;
    position: absolute;
    bottom: 75vh;
    left: 55vh;
}
#pic2 img{
    height: 25vh;
    width: 25vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 30vh;
}
#jc{
    font-size: 1.5vh;
    margin-left: 9vh;
    margin-top: 1vh;
}
#twofourone{
    position: absolute;
    top: 33vh;
    left: 60vh;
}
#larrow{
    font-size: 7vh;
    position: absolute;
    right: 176vh;
}
#rarrow{
    font-size: 7vh;
    position: absolute;
    right: 172vh;
}
#shop1{
    height: 7vh;
    width: 7vh;
    background-color: black;
    position: absolute;
    top: 39vh;
    left: 33vh;
    border-radius: 10px 0px 30px 10px;
    color: white;
    font-size: 4vh;
    padding-left: 1vh;
    padding-top: 1vh;
}
#shop2{
    height: 7vh;
    width: 7vh;
    background-color: black;
    position: absolute;
    top: 39vh;
    left: 76vh; 
    border-radius: 10px 0px 30px 10px;
    color: white;
    font-size: 4vh;
    padding-left: 1vh;
    padding-top: 1vh;
}
#whdf{
    height: 4vh;
    width: 30vh;
    margin-top: 9vh;
    margin-left: 10vh;
    
}
#tfit{
    height: 4vh;
    width: 30vh;
    color: #ffffff;
    margin-left: 10vh;
    background-color: #000000;
    border-radius: 0 25px 0 0;
}
#description{
    height: 4vh;
    width: 50vh;
    margin-left: 10vh;
    margin-top: 4vh;
}
#mom2{
    height: 40vh;
    width: 100vw;
    display:flex;
    justify-content: space-around;


}
.buddy{
    height:40vh;
    width: 70vh;
   
}
#otrn{
  height: 3vh;
  width: 49vh;
  margin-top: 9vh;
  
}
#shp{
    height: 5vh;
    width: 49vh;
    color: #ffffff;
    margin-left: 1vh;
    margin-top: 1.6vh;
    background-color: #000000;
    border-radius: 25px 0 0 0;
}
#shp h2{
    margin-left: 5vh;
}
#pihn{
    height: 3vh;
    width: 45vh;  
}
#con1{
height: 10vh;
margin-top:6vh;
width: 65vh;
}

#arrow{
    height: 25vh;
    width: 55vh;

    background-image: url(arrow.png); 
    background-position: center;
    margin-top: 0vh;
    rotate:-20deg;
    position: absolute;
}
#mom2_div2{
   
    margin-left: 0vh;
}
    
#pasta{
    height: 50vh;
    width: 70vh;
    animation-name: bowl;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    border-radius: 75px;
    position: absolute;
    bottom: 15vh;

}
#pasta:hover{
    cursor:grab;
}
#pasta img{
    height: 50vh;
    width: 70vh;
}
@keyframes bowl{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(720deg);}
}
#price{
    height: 13vh;
    width: 13vh;
    font-size: 3vh;
    padding-left: 2vh;
    padding-top: 4vh;
    border-radius: 50px;
    color: white;
    background-color:red;
    position: absolute;
    left: 150vh;
    top: 40vh;
    border: dotted 5px black;
}
#price:hover{
    cursor:pointer;
}
/*sayak*/
  #app{
    
    height: 100vh;
    width: 100vw;
    background-image: url(bgi.jpeg); 
    display: flex;
   
}
.ap{
    height:97.5%;
    width: 55%;
   margin-left: 2vw;
   margin-top: -0.5vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    
}
#blr{
    height:100%;
    width: 100%;
    display: flex;
    background-color:  rgba(236, 236, 225, 0.819);
    backdrop-filter: blur(10px);
}
.apc{
   
    height:100%;
    width: 45%;
    font-family: "Roboto", sans-serif;
     line-height: 3vh;

}
.cnrt>h1{
    font-size: 45px;
    font-weight: 1200;
}

.dnld{
    height: 40%;
    width: 100%;
    
    display: flex;
    
    
}
.cnrt{
    height: 60%;
    width: 100%;
    padding: 27vh 20vh;
    
}
.ios{
    background-image: url(ios.png);
    height: 10vh;
    width: 30vh;
    margin-left: 7vw;
    background-size: cover;
    }
.ggl{
    background-image: url(ggl.png);
    height: 0vh;
    width: 35vh;
    background-size: cover;
    }
    .ss{
        
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .s{
       height: 86vh;
       width: 20vw;
    
        
    }
    .blar{
        height: 86vh;
        width: 20vw;
        background-color: rgba(183, 183, 169, 0);
        backdrop-filter: blur(10px);  
        border-radius: 25px;
    }
    /* *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    .container{
        max-width: 1170px;
        margin:auto;
    } */
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        height: 30vh;
        background-color: #24262b;
        background-image: url("https://i.pinimg.com/originals/71/db/7f/71db7fc6fef745e9896c56f79bcb5d04.gif");
        padding: 70px 0;
        background-size:cover;
        background-position:top;
        background-repeat: no-repeat;
    }   
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: rgb(255, 255, 255);
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
        margin-left: 5vh;
        transition: color 0.8s linear;
    }

    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0vh;
        bottom: -3vh;
        background-color: #ff0496d0;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #000000;
        text-decoration: none;
        font-weight: 300;
        color: #000000;
        display: block;
        margin-top: 2.5vh;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: hsl(284, 100%, 49%);
        padding-left: 8px;
    }
    #fcol ul li a:hover{
        color: #fffffffa;
        padding-left: 8px;
    }
    #fcol2 ul li a:hover{
        font-weight: 700;
        color: #fffb00fa;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #000000;
        background-color: #ffffff;
    }
    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
    body::-webkit-scrollbar{
        display: none;
    }